.cart {
  width: 300px;
}

#cartCard {
  text-align: center;
  background-color: white;
  color: grey;
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
}

#cartButton {
  background-color: lightgray;
  color: grey;
  padding: 5px 80px 5px 80px;
  border-radius: 5px;
  font-size: 12px;
}

#cartCard p {
  padding-bottom: 120px;
  font-size: 10px;
}

/* .cartMenu {
  display: block;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}

.cartDetailedOrder {
  font-size: 12px;
} */
